In [1]:
%pwd

'c:\\Project\\iNeuron-DS-Assessment\\ML\\notebook'

In [5]:
import os
os.chdir("../")

In [6]:
%pwd

'c:\\Project\\iNeuron-DS-Assessment'

In [7]:
import pandas as pd
df = pd.read_csv('ML/notebook/data/Bengaluru_House_Data.csv')

In [8]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Handle missing values
df.dropna(inplace=True)  # Drop rows with missing values, you can use other imputation methods if needed

# Convert categorical data to numerical data using one-hot encoding
df_encoded = pd.get_dummies(df, drop_first=True)

# Split the dataset into features (X) and target variable (y)
X = df_encoded.drop('price', axis=1)
y = df_encoded['price']

# Split the dataset into training and validation sets
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=99)

# Display the shapes of training and validation sets
print("X_train shape:", X_train.shape)
print("X_valid shape:", X_valid.shape)
print("y_train shape:", y_train.shape)
print("y_valid shape:", y_valid.shape)

X_train shape: (5996, 4997)
X_valid shape: (1500, 4997)
y_train shape: (5996,)
y_valid shape: (1500,)

In [11]:
print(X)

       bath  balcony  area_type_Carpet  Area  area_type_Plot  Area  \
0       2.0      1.0                   False                 False
1       5.0      3.0                   False                  True
3       3.0      1.0                   False                 False
5       2.0      1.0                   False                 False
11      5.0      3.0                   False                  True
...     ...      ...                     ...                   ...
13313   2.0      1.0                   False                 False
13314   3.0      3.0                   False                 False
13315   4.0      0.0                   False                 False
13317   2.0      1.0                   False                 False
13318   4.0      1.0                   False                 False

       area_type_Super built-up  Area  availability_15-Aug  \
0                                True                False
1                               False                False
3                                True                False
5                                True                False
11                              False                False
...                               ...                  ...
13313                            True                False
13314                            True                False
13315                           False                False
13317                           False                False
13318                            True                False

       availability_15-Dec  availability_15-Jun  availability_16-Dec  \
0                    False                False                False
1                    False                False                False
3                    False                False                False
5                    False                False                False
11                   False                False                False
...                    ...                  ...                  ...
13313                False                False                False
13314                False                False                False
13315                False                False                False
13317                False                False                False
13318                False                False                False

       availability_16-Jan  ...  total_sqft_986  total_sqft_987  \
0                    False  ...           False           False
1                    False  ...           False           False
3                    False  ...           False           False
5                    False  ...           False           False
11                   False  ...           False           False
...                    ...  ...             ...             ...
13313                False  ...           False           False
13314                False  ...           False           False
13315                False  ...           False           False
13317                False  ...           False           False
13318                False  ...           False           False

       total_sqft_990  total_sqft_991  total_sqft_992  total_sqft_993  \
0               False           False           False           False
1               False           False           False           False
3               False           False           False           False
5               False           False           False           False
11              False           False           False           False
...               ...             ...             ...             ...
13313           False           False           False           False
13314           False           False           False           False
13315           False           False           False           False
13317           False           False           False           False
13318           False           False           False           False

       total_sqft_994  total_sqft_995  total_sqft_996  total_sqft_999
0               False           False           False           False
1               False           False           False           False
3               False           False           False           False
5               False           False           False           False
11              False           False           False           False
...               ...             ...             ...             ...
13313           False           False           False           False
13314           False           False           False           False
13315           False           False           False           False
13317           False           False           False           False
13318           False           False           False           False

[7496 rows x 4997 columns]

In [14]:
from sklearn.svm import SVR

In [13]:
model_svr_default = SVR() # Using the default setting such as kernel as 'rbf'
model_svr_default.fit(X_train, y_train)

model_svr_default.score(X_valid, y_valid)

0.26150610758488835

In [15]:
model_svr_lr = SVR(kernel = 'linear') 
model_svr_lr.fit(X_train, y_train)

model_svr_lr.score(X_valid, y_valid)

0.38188906488133467

In [16]:
model_svr_pl3d = SVR(kernel = 'poly') 
model_svr_pl3d.fit(X_train, y_train)

model_svr_pl3d.score(X_valid, y_valid)

0.3713004347656488

In [17]:
model_svr_pl2d = SVR(kernel = 'poly', degree = 2) 
model_svr_pl2d.fit(X_train, y_train)

model_svr_pl2d.score(X_valid, y_valid)

0.33975176721734723

In [23]:
first_row_X_valid = X_valid.iloc[[0]]

In [24]:
prediction = model_svr_lr.predict(first_row_X_valid)

In [25]:
actual_value = y_valid.iloc[0]

In [27]:
print("Predicted Price is {:.2f} and the actual price is {:.2f}".format(prediction[0], actual_value))

Predicted Price is 62.60 and the actual price is 45.00

In [28]:
y_pred = model_svr_lr.predict(X_valid)

In [29]:
from sklearn.metrics import mean_squared_error
import numpy as np

mse = mean_squared_error(y_valid, y_pred)
rmse = np.sqrt(mse)

print('MSE = ', mse)
print('RMSE = ', rmse)

MSE =  7164.514566933662
RMSE =  84.64345554698049